<!DOCTYPE html>
<html lang="es">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas-Grupo Cero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/noise2.png' %}">
</head>
<body>

<!-- Inicio menú con logo -->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
  <div class="container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'core/img/LOGO.png' %}" alt="Avatar Logo" style="width:200px;" class="rounded-pill"> 
      </a>
    </div>
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-center" href="#">Bienvenido, Invitado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#registroModal">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'loginmiembros' %}">Miembro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'loginadmins' %}">Admin</a>
        </li>          
      {% else %}
        <li class="nav-item">
          <a class="nav-link text-center" href="#">Bienvenido, {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="">
    <button class="btn btn-dark" type="button">Buscar</button>
  </form>
</nav>
<!-- Fin menú con logo-->

<!-- Inicio modals para registro e inicio de sesión -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel" style="color:black">Registro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Formulario de registro -->
        <div class="modal-body">
          <form method="POST" action="{% url 'registercliente' %}">
              {% csrf_token %}
              <div class="mb-3">
                  <label for="emailRegistro" class="form-label" style="color:black">Email</label>
                  <input type="email" class="form-control" id="txtEmail" name="email" placeholder="Introduce un email" required>
              </div>
              <div class="mb-3">
                  <label for="nombreRegistro" class="form-label" style="color:black">Nombre de usuario</label>
                  <input type="text" class="form-control" id="txtUsuario" name="username" placeholder="Introduce un nombre de usuario" required>
              </div>
              <div class="mb-3">
                  <label for="passwordRegistro" class="form-label" style="color:black">Contraseña</label>
                  <input type="password" class="form-control" id="txtPassword" name="password" placeholder="Introduce una contraseña" required>
              </div>
              <div class="mb-3">
                  <label for="passwordRepetirRegistro" class="form-label" style="color:black">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="txtPasswordConfirmation" name="password_confirmation" placeholder="Vuelva a introducir contraseña" required>
              </div>
              <button type="submit" class="btn btn-dark">Registrarse</button>
          </form>
        </div>
      <!-- Fin formulario registro -->
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel" style="color: black;">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Formulario de inicio de sesión -->
      <div class="modal-body">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label" style="color: black;">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Introduce tu usuario" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" style="color: black;">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña" required>
          </div>
          <button type="submit" class="btn btn-dark" style="color: white;">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Mensajes -->
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<!-- Fin modals para registro e inicio de sesión -->

<!-- container de las cartas -->
<div class="container"> 
<!-- Inicio card para contador de productos -->
<div class="row mt-4 justify-content-center">
  <div class="col-md-5">
    <div class="card text-center border-0">
      <div class="card-body">
        <h5 class="card-title">Productos ingresados por el usuario</h5>
        <p class="card-text">Cantidad: <span class="badge bg-dark" id="contador-productos">0</span></p>
      </div>
    </div>
  </div>
</div>
<!-- Fin card para contador de productos -->

<!-- Inicio cards para artistas -->
<section class="mb-5" id="artistas">
  <div class="row justify-content-center">
    <h2 class="text-center my-4" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><strong>ARTISTAS</strong></h2>
    <div class=" text-center pt-0 pb-5">
    </div>
    {% for auxArtObj in listaArtObj %}
      <div class="col-md-2 col-sm-12">
        <div class="card h-100 border-0 mx-12 align-items-center mb-5">
          {% if auxArtObj.imagen %}
            <!-- Aquí agregamos un botón con el data-bs-toggle y data-bs-target para abrir el modal -->
            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modal{{ auxArtObj.id }}">
              <img class="card-img-top" src="{{ auxArtObj.imagen.url }}" alt="imagenArtista" style="max-width: 130px; max-height: 130px;">
            </button>
          {% endif %}
          <div class="card-body text-center">
            <h4>{{ auxArtObj.nombreArtista }}</h4>
          </div> 
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modal{{ auxArtObj.id }}" tabindex="-1" aria-labelledby="modal{{ auxArtObj.id }}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark text-center" id="modal{{ auxArtObj.id }}Label">{{ auxArtObj.nombreArtista }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="text-dark"><b>Fecha nacimiento:</b> {{ auxArtObj.fecha_nacimiento}}</p>
              <p class="text-dark"><b>Biografía:</b> {{ auxArtObj.biografia }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</section>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>