<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Admins</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'core/img/noise2.png' %}">
    <style>
        .card {
            width: 300px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card-img-top {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 200px;
            object-fit: cover;
        }
        body {
            background: repeating-radial-gradient(circle, #ffffff, #f1f0f0);
        }
    </style>
</head>
<body>
<!-- Inicio menú de admin con logo -->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'adminsindex' %}">
            <img src="{% static 'core/img/LOGO.png' %}" alt="Avatar Logo" style="width:200px;" class="rounded-pill"> 
        </a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-center" style="width:200px;">Bienvenido, {{ user.username }}</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <button class="btn btn-dark" type="button" style="width:120px;">Cerrar sesión</button>
            </a>
        </li>
    </ul> 
</nav>

<!-- Contenido -->

<!-- Mensajes -->
{% if messages %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% for message in messages %}
      Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message.tags|title }}',
        text: '{{ message }}',
        {% if message.tags == 'success' %}
        iconColor: 'green',
        confirmButtonColor: 'green',
        {% else %}
        iconColor: 'red',
        confirmButtonColor: 'red',
        {% endif %}
        timer: 5000
      });
    {% endfor %}
  });
</script>
{% endif %}

<div class="container mt-5 text-center">
  <h2 class="mb-4">Panel de Administrador</h2>
  <div class="row justify-content-center">
      <div class="col-md-3">
          <div class="card">
              <img src="{% static 'core/img/lanzamientos.jpg' %}" class="card-img-top" alt="cuentasMiembro">
              <div class="card-body">
                  <h5 class="card-title">Crear cuenta de miembro</h5>
                  <a href="{% url 'registermiembro' %}" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#registroModal">Crear</a>
              </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="card">
            <img src="{% static 'core/img/lanzamientos.jpg' %}" class="card-img-top" alt="cuentasMiembro">
            <div class="card-body">
                <h5 class="card-title">Solicitudes</h5>
                <a href="{% url 'adminsolicitudes' %}" class="btn btn-dark">Ver</a>
            </div>
        </div>
    </div>

<!-- Inicio modals para registro e inicio de sesión -->
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registroModalLabel" style="color:black">Registro de miembros</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Formulario de registro -->
          <div class="modal-body">
            <form method="POST" action="{% url 'registermiembro' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="emailRegistro" class="form-label" style="color:black">Email</label>
                    <input type="email" class="form-control" id="txtEmail" name="email" placeholder="Introduce un email" required>
                </div>
                <div class="mb-3">
                    <label for="nombreRegistro" class="form-label" style="color:black">Nombre de usuario</label>
                    <input type="text" class="form-control" id="txtUsuario" name="username" placeholder="Introduce un nombre de usuario" required>
                </div>
                <div class="mb-3">
                    <label for="passwordRegistro" class="form-label" style="color:black">Contraseña</label>
                    <input type="password" class="form-control" id="txtPassword" name="password" placeholder="Introduce una contraseña" required>
                </div>
                <div class="mb-3">
                    <label for="passwordRepetirRegistro" class="form-label" style="color:black">Confirmar contraseña</label>
                    <input type="password" class="form-control" id="txtPasswordConfirmation" name="password_confirmation" placeholder="Vuelva a introducir contraseña" required>
                </div>
                <button type="submit" class="btn btn-dark">Registrar miembro</button>
            </form>
          </div>
        <!-- Fin formulario registro -->

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>